{% extends 'l-pages/patterns/base.html' %}
{% block title %}تنظیم رمز عبور{% endblock title %}
{% block content %}
    <div class="container">
        <div class="card signup-card">
            <h2>تنظیم رمز عبور</h2>

            <!-- اطلاعات راهنما -->
            <div class="info-box">
                کاربر گرامی لطفاًرمز عبور خود را جهت ورود به حساب کاربری خود تنظیم کنید پس از آن حساب شما ثبت نهایی خواهد شد 
            </div>

            <form method="POST">
                {% csrf_token %}
                
                <div class="input-group">
                    <label for="password">: رمز عبور</label>
                    <input type="password" id="" name="new_password1" required>
                    {% if form.new_password1.errors %}
                        <div class="error">{{ form.new_password1.errors.0 }}</div>
                    {% endif %}
                </div>

                <div class="input-group">
                    <label for="repassword"> : تکرار رمز عبور</label>
                    <input type="password" id="" name="new_password2"required>
                    {% for error in form.new_password2.errors %}
                        <div class="error">{{error}}</div>
                    {% endfor %}
                </div>

                <div class="button-container">
                <button type="submit" class="btn">ساخت حساب</button>
                </div>
            </form>

            <a href="{% url 'sign-up' %}" class="login-link">بازگشت</a>
        </div>
    </div>
{% endblock %}