{% extends 'l-pages/patterns/base.html' %}
{% block title %}تایید شماره تلفن{% endblock title %}
{% block content %}
    <div class="container">
        <div class="card verification-card">
            <h2>تأیید شماره تلفن</h2>
            <p class="verification-text">کد پیامک‌ شده به شماره تلفن <strong>{{number}}</strong> را وارد کنید.</p>
            <a href="{% url 'login' %}" class="login-link" style="margin-top: 0px;">شماره اشتباه است ؟</a>

            <form method="POST">
                {% csrf_token %}

                <div class="input-group input-code">
                    <label for="code">: کد تأیید</label>
                    <input type="text" id="code" name="code" maxlength="5" required
                    style="
                        color:var(--dark-color);
                        width: 94%;
                        padding: 8px;
                        border: 1px solid var(--border-color);
                        border-radius: 100px;">
                    {% if form.code.errors %}
                        <div class="error">{{ form.code.errors }}</div>
                    {% endif %}
                </div>

                <div class="button-container">
                    <button type="submit" class="btn">ادامه</button>
                </div>
                <a href="{% url 'login' %}" class="login-link">ارسال مجدد کد </a>
            </form>
        </div>
    </div>
{% endblock %}