{% extends 'patterns/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}پستینا | خرید پسته {{p.get_kind_display}} {{p.get_status_display}} {{p.get_quality_display}}{% endblock title %}
{% block typebody %}<body class="topics-listing-page" dir="rtl" id="top" style="text-align: right;">{% endblock %}
    {% block navitem %}
    <ul class="navbar-nav ms-lg-5 me-lg-auto">
        <li class="nav-item">
            <a class="nav-link click-scroll" href="{% url 'products' %}">
                <strong><span style="font-size:var(--menu-font-size);">
                    <i class="fa-solid fa-duotone fa-shopping-cart"></i>
                </span>لیست محصولات</strong>
            </a>
        </li>
        <li class="nav-item">            
            <a class="nav-link click-scroll" href="{% url 'home' %}">
                <strong><span style="font-size:var(--menu-font-size);">
                    <i class="fa-solid fa-duotone fa-home"></i>
                </span>خانه</strong>
            </a>
        </li>
        <li class="nav-item">            
            <a class="nav-link click-scroll" href="{% url 'blog' %}">
                <strong><span style="font-size:var(--menu-font-size);">
                    <i class="fa-solid fa-duotone fa-coffee"></i>
                </span>وبلاگ پستینا</strong>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link click-scroll" href="{% url 'send-ticket' 'technical' %}">
                <strong><span style="font-size:var(--menu-font-size);">
                    <i class="fa-solid fa-duotone fa-phone"></i>
                </span>ارتباط با پشتیبانی</strong>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link click-scroll" href="{% url 'about-us' %}">
                <strong><span style="font-size:var(--menu-font-size);">
                    <i class="fa-solid fa-duotone fa-info-circle"></i>
                </span>درباره ما</strong>
            </a>
        </li>
    </ul>
    {% endblock navitem %}
{% block header %}
<header class="site-header d-flex flex-column justify-content-center align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-12">
                <h2 class="text-white">محصولات / پسته {{p.get_kind_display}} {{p.get_status_display}} {{p.get_quality_display}}</h2>
            </div>
        </div>
    </div>
</header>
{% endblock header %}
{% block content %}
       <section class="section-padding section-bg">
            <div class="container" style="text-align: center;">
                <div class="row" style="flex-direction: column;align-items: center;">
                    <div class="col-lg-12 col-12">
                        <h3 class="mb-4 pb-2">لطفا مقدار محصول جهت سفارش را وارد کنید</h3>
                    </div>

                    <div class="col-lg-6 col-12 mx-auto mt-5 mt-lg-0" style="text-align: center;">
                        <img class="google-map" src="{{ p.photo.url }}" alt="" width="100%" height="250" style="border:0;" loading="lazy" />
                        <h5 class="mt-4 mb-2">مشخصات محصول جهت سفارش</h5>
                        <div class="product-box">
                            <div class="product-left">
                                <p><b>پسته {{p.get_kind_display}}</b></p>
                                <ul>
                                    <li>وضعیت پسته : {{ p.get_status_display }}</li>
                                    <li>انس پسته : {{ p.ounce }}</li>
                                    <li>کیفیت محصول : {{ p.get_quality_display }}</li>
        
                                    {% if p.show_inventory %}
                                    <li>مقدار موجود : {{ p.inventory | format_weight}}</li>
                                    {% endif %}
                                    {% if p.discription %}
                                    <li>توضیحات محصول : {{p.discription}}</li>
                                    {% endif %}        

                                </ul>
                            </div>

                            <div class="product-right">
                                <p><b>توضیحات سفارش محصول</b></p>
                                <ul>

                                    {% if p.min_order %}
                                    <li>کف سفارش : {{p.min_order | format_weight}}</li>
                                    {% endif %}
        
                                    {% if p.max_order %}
                                    <li>سقف سفارش : {{p.max_order | format_weight}}</li>
                                    {% endif %}    

                                    {% if p.free_shipping and p.is_pestina_product %}
                                    <li>
                                        محصول متعلق به پستینا و دارای ارسال رایگان است
                                    </li>
                                    {% elif p.is_pestina_product %}
                                    <li>
                                    محصول متعلق به پستینا است لازم به ذکر است محصولات پستینا تایید شده و دارای کیفیت بهتری هستند
                                    </li>
                                    {% elif p.free_shipping %}
                                     <li>
                                         محصول دارای ارسال رایگان است
                                    </li>
                                    {% endif %} 
                                </ul>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-lg-6 col-12">
                        <form class="custom-form contact-form" method="post" action="{% url 'buy-product' pid=p.id %}" role="form">
                            {% csrf_token %}
                            <div class="row" style="justify-content:center;">
                                <div class="col-lg-12 col-12">
                                    <div class="form-floating">
                                        <input type="number" id="weightInput" min="0" step="0.2" name="quantity" class="form-control" placeholder="gain" required
                                            {% if form.gain_product.value %} value="{{ form.gain_product.value }}" {% endif %} />
                                        <label for="weightInput">وزن محصول (برحسب کیلوگرم)</label>
                                    </div>
                                </div>

                                {% if form.errors %}
                                    {% for field in form %}
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                            <blockquote style="text-align:center;margin: 0px 16px 11px 0;padding: 0px;font-size: 16px;color:var(--primary-color);width: 95%;">{{error}}</blockquote>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                <div class="col-lg-4 col-12 ms-auto1">
                                    <button type="submit" class="form-control">مرحله بعد</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </section>
    </main>
{% endblock %}