{% extends 'patterns/base.html' %}
{% load static %}
{% block title %}Pestina | پستینا {% endblock title %}
{% block typebody %}<body dir="rtl" id="top" style="text-align: right;">{% endblock typebody %}
{% block navitem %}


<ul class="navbar-nav ms-lg-5 me-lg-auto">
    <li class="nav-item">
        <a class="nav-link click-scroll" href="{% url 'home' %}"><strong>
            <span style="font-size:var(--menu-font-size);">
            <i class="fa-solid fa-home"></i>
          </span>خانه</strong></a>
    </li>
    <li class="nav-item">
        <a class="nav-link click-scroll" href="#section_2"><strong>
            <span style="font-size:var(--menu-font-size);">
                <i class="fa-regular fa-question-circle"></i></span>
            سوالات پرتکرار</strong></a>
    </li>
    <li class="nav-item">
        <a class="nav-link click-scroll" href="#section_3"><strong>
            <span style="font-size:var(--menu-font-size);">
                <i class="fa-solid fa-bullhorn"></i></span>
            روند سفارش</strong></a>
    </li>
    <li class="nav-item">
        <a class="nav-link click-scroll" href="{% url 'send-ticket' 'technical' %}"><strong>
            <span style="font-size:var(--menu-font-size);">
                <i class="fa-solid fa-phone"></i></span>
            ارتباط با پشتیبانی</strong></a>
    </li>
    <li class="nav-item">
        <a class="nav-link click-scroll" href="{% url 'about-us' %}"><strong>
            <span style="font-size:var(--menu-font-size);">
                <i class="fa-solid fa-info-circle"></i></span>
            درباره ما</strong></a>
    </li>
    <li class="nav-item dropdown">
    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarLightDropdownMenuLink" role="button"><strong><i class="fa-solid fa-store"></i> محصولات</strong></a>
    <ul aria-labelledby="navbarLightDropdownMenuLink" class="dropdown-menu dropdown-menu-light">
        <li><a class="dropdown-item" href="{% url 'products' %}">
            <span style="font-size:var(--menu-font-size);">
                <i class="fa-solid fa-shopping-cart"></i></span>
            لیست محصولات</a></li>
        <li><a class="dropdown-item" href="{% url 'send-ticket' 'purchase' %}">
            <span style="font-size:var(--menu-font-size);">
                <i class="fa-solid fa-paper-plane"></i></span>    
            ارسال درخواست خرید پسته</a></li>
    </ul>
    </li>
</ul>

{% endblock navitem %}
{% block header %}
        <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
        <div class="row">
        <div class="col-lg-8 col-12 mx-auto">
        <h1 class="text-white text-center">پستینا اولین سایت اختصاصی خرید و فروش پسته</h1>
        <h6 class="text-center" style="color: var(--white-color);padding-top: 28px;">بهترین قیمت | کیفیت | خرید از کشاورز</h6>
        </div>
        </div>
        </div>
        </section>
        <section class="featured-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-12">
                        <div class="custom-block custom-block-overlay">
                            <div class="d-flex flex-column h-100">
                                <img alt="" class="custom-block-image img-fluid" src="{% static 'images/pistachio-cart.jpg' %}"/>
                                <div class="custom-block-overlay-text d-flex home-cart">
                                    <h5 class="text-white mb-2">همین حالا شروع کنید</h5>
                                <div>
                                    <a class="btn custom-btn mt-2 mt-lg-3" href="{% url 'products' %}">
                                        <span style="font-size:var(--btn-font-size);">
                                            <i class="fa-solid fa-shopping-cart"></i></span>
                                        ثبت سفارش محصول</a>
                                    <a class="btn custom-btn custom-border-btn ms-3 cs-btn" href="{% url 'dashboard' %}">من یک  کشاورزم</a>
                                </div>
                                  
                                    </div>
                                <div class="section-overlay"></div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </section>
{% endblock %}
{% block content %}

        <section class="faq-section section-padding" id="section_2">
        <div class="container">
        <div class="row">
        <div class="col-lg-6 col-12">
        <h2 class="mb-4">سوالات پرتکرار شما</h2>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-5 col-12">
        <img alt="FAQs" class="img-fluid" src="{% static 'images/faq_graphic.jpg' %}"/>
        </div>
        <div class="col-lg-6 col-12 m-auto">
        <div class="accordion" id="accordionExample">
        <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
        <button aria-controls="collapseOne" aria-expanded="true" class="accordion-button" data-bs-target="#collapseOne" data-bs-toggle="collapse" type="button">
                                                سقف و کف سفارشات چه مقدار است ؟                                         </button>
        </h2>
        <div aria-labelledby="headingOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" id="collapseOne">
        <div class="accordion-body">
                                                سقف و کف سفارشات محصول از <strong>نیم کیلوگرم تا 20 کیلوگرم است </strong>البته نگران نباشید درصورتی که سفارش شما از 20 کیلوگرم بیشتر است شما میتوانید بسته خود را با پرداخت هزینه اندک  به شرکت پست دریافت کنید لازم به ذکر است بسته های بیشتر از 100 کیلوگرم از طریق سرویس تیپاکس ارسال میشوند که هزیننه بیشتری را خواهد داشت
                                                </div>
        </div>
        </div>
        <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
        <button aria-controls="collapseTwo" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#collapseTwo" data-bs-toggle="collapse" type="button">
                                                آیا هزینه ارسال رایگان است ؟
                                            </button>
        </h2>
        <div aria-labelledby="headingTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseTwo">
        <div class="accordion-body">
                
            هزینه ارسال محصولات سرتاسر  <strong>شهرستان رفسنجان </strong>رایگان است محصولات با وزن بیشتر یا مقاصد دیگر با هزینه مازاد اندکی ارسال میشوند . 

        </div>

        </div>
        </div>
        <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
        <button aria-controls="collapseThree" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#collapseThree" data-bs-toggle="collapse" type="button">
                                                مدت زمان دریافت محصول چقدر است ؟ 
                                            </button>
        </h2>
        <div aria-labelledby="headingThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseThree">
        <div class="accordion-body">
                                                    بسته های با مقصد رفسنجان در همان روز یا با تاخیر یک روزه ارسال میشوند برای سایر مقاصد تحویل بسته ها به شرکت پست یا تیپاکس بین 2 تا 3 روز کاری زمان میبرد
                                                </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>

        <section class="timeline-section section-padding" id="section_3">
        <div class="section-overlay"></div>
        <div class="container">
        <div class="row">
        <div class="col-12 text-center">
        <h2 class="text-white mb-4">روند ثبت سفارش
        </h2></div>
        <div class="col-lg-10 col-12 mx-auto">
        <div class="timeline-container">
        <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
        <div class="list-progress">
        <div class="inner"></div>
        </div>
        <li>
        <h4 class="text-white mb-3">با کمک گرفتن از قسمت خواندنی ها محصول مورد نیاز خودتان را شناسایی کنید
        </h4>
        <p class="text-white">در قسمت خواندنی ها موضوعات مفیدی برای شما عزیزان قرار داده شده که با استفاده از آنها میتوانید محصولتان را متناسب با نیاز خودتان را شناسایی کنید</p>
        <div class="icon-holder">
        <i class="bi-search"></i>
        </div>
        </li>
        <li>
        <h4 class="text-white mb-3">سفارش خود را از منوی محصولات ثبت کنید</h4>
        <p class="text-white">
            محصول خود را از طریق منوی
        <strong>محصولات < لیست محصولات</strong>
        ثبت کنید و چنانچه محصول شما در لیست موجود نیست (ناموجود است) از طریق منوی
        <Strong>محصولات < ارسال درخواست خرید پسته</strong>
        آن را ثبت نمایید
            </p>
        <div class="icon-holder">
        <i class="bi-bookmark"></i>
        </div>
        </li>
        <li>
        <h4 class="text-white mb-3">همکاران ما جهت ارسال محصول با شما تماس خواهند گرفت</h4>
        <p class="text-white">پس از ثبت محصول همکاران ما پس از بررسی درخواست شما تا نهایت 6 ساعت آینده با شما تماس میگیرند</p>
        <div class="icon-holder">
        <i class="bi-book"></i>
        </div>
        </li>
        </ul>
        </div>
        </div>
        <div class="col-12 text-center mt-5">
        <p class="text-white">
        
                                    همین حالا سفارش خود را ثبت کنید
                <br/><br/>                     <a class="btn custom-btn custom-border-btn ms-3" href="{% url 'products' %}">
                    <span style="font-size:var(--menu-font-size);">
                        <i class="fa-solid fa-shopping-cart"></i></span>
                    لیست محصولات</a>
        </p>
        </div>
        </div>
        </div>
        </section>
    </main>
    {% endblock content %}
