:root {
    --white-color:                  #ffffff;
    --dark-color:                   #000000;
    --primary-color:                #13547a;
    --custom-btn-bg-hover-color:    #13547a;
    --link-hover-color:             #13547a;
    --secondary-color:              #5fbdb2;
    --custom-btn-bg-color:          #5fbdb2;
    --section-bg-color:             #f0f8ff;
    --p-color:                      #717275;
    --border-color:                 #7fffd4;
    
    --body-font-family:             'vazir', vazir;
    --title-font-family:            'vazir', vazir;
    
    --h1-font-size:                 54px;
    --h2-font-size:                 34px;
    --h3-font-size:                 28px;
    --h4-font-size:                 24px;
    --h5-font-size:                 20px;
    --h6-font-size:                 18px;
    --p-font-size:                  16px;
    --menu-font-size:               14px;
    --btn-font-size:                14px;
    --copyleft-font-size:          12px;
    
    --border-radius-large:          100px;
    --border-radius-medium:         20px;
    --border-radius-small:          10px;
    
    --font-weight-normal:           400;
    --font-weight-medium:           500;
    --font-weight-semibold:         600;
    --font-weight-bold:             700;
    }